<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>

  <body>
    <header class="header">
      <section>
        <h1>
          <span class="p-24-32">Here’s</span>
          <span class="p-80-106">JOANNE</span>
        </h1>
        <h2 data-aos="fade-up" class="p-24-36">
          Founder of “XXXD Official“<br />
          & Graphic Designer
        </h2>
        <ul>
          <li>
            <a
              href="https://www.behance.net/search?search=digital%20art&sdid=GZKZXXYX&mv=search"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/behance.svg"
                alt="behance"
            /></a>
          </li>
          <li>
            <a href="https://www.facebook.com"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/facebook.svg"
                alt="facebook"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/instagram.svg"
                alt="instagram"
            /></a>
          </li>
          <li>
            <a href=""
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/youtube.svg"
                alt=""
            /></a>
          </li>
        </ul>
      </section>
    </header>

    <%- contents %>

    <footer class="footer">
      <ul>
        <li><h2 class="p-64-84">Contact</h2></li>
        <li>
          <a class="p-24-33" href="mailto:xxxd@hexschool.com"
            >Mail：xxxd@hexschool.com</a
          >
        </li>
        <li>
          <a class="p-24-33" href="tel:+0910123456">Phone Number：0910123456</a>
        </li>
      </ul>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
